  <div class="container">
<div class="media">
  <a class="pull-left" href="#">
<img class="media-object" src= "<%= @url %>" height="400" width="350" alt="...">
  </a>
  <div class="media-body">
   <h1 class="media-heading"> <%= @caption %> </h1>
<p> <%= @bio %> </p>
  </div>
  
    </div>
  
    </div>